BarCodeScannerNR.json
[{"id":"46fe455a.2707ec","type":"tab","label":"BarcodeReader","disabled":false,"info":""},{"id":"3662b729.0d9b58","type":"rpi-keyboard","z":"46fe455a.2707ec","name":"","x":176.67863845825195,"y":127.392822265625,"wires":[["fa9fa91b.c28c58"]]},{"id":"4baa7eab.1482e","type":"function","z":"46fe455a.2707ec","name":"BarCodeReader","func":"var barCode=flow.get('barCode') || \"\";\nif (msg.action == \"up\")\n{\n    switch(msg.payload){\n        case 2:\n            barCode = barCode + \"1\";\n            break;\n        case 3:\n            barCode = barCode + \"2\";\n            break;\n        case 4:\n            barCode = barCode + \"3\";\n            break;\n        case 5:\n            barCode = barCode + \"4\";\n            break;\n        case 6:\n            barCode = barCode + \"5\";\n            break;\n        case 7:\n            barCode = barCode + \"6\";\n            break;\n        case 8:\n            barCode = barCode + \"7\";\n            break;\n        case 9:\n            barCode = barCode + \"8\";\n            break;\n        case 10:\n            barCode = barCode + \"9\";\n            break;\n        case 11:\n            barCode = barCode + \"0\";\n            break;\n            \n        default:\n    }\nmsg.payload = barCode;\nflow.set('barCode',barCode);\nif (barCode.length == 8)\n{\n    barCode=\"\";\n    flow.set('barCode',barCode);\n    msg.topic=\"\";\n    msg.action=\"\";\n    return msg;\n}\n}\n","outputs":1,"noerr":0,"x":507.6786575317383,"y":228.3928337097168,"wires":[["72dfd4dc.f5e544","47265554.84c32c","7f77c49e.647c7c","f68081a5.6159a"]]},{"id":"140a25ad.acea7a","type":"inject","z":"46fe455a.2707ec","name":"Inject @ start","topic":"","payload":"To change the IP from Raspberry and OPC Endpoint(MPS) choose a machine! To activate changes Rebooot Raspberry!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":222.75004959106445,"y":907.7500343322754,"wires":[["89db3fb5.2d56e","adcd3905.306bc8","4ea5b2f9.c6e4dc","b666895.95b0478","5d239196.6e98d"]]},{"id":"89db3fb5.2d56e","type":"function","z":"46fe455a.2707ec","name":"flow.set('barCode','')","func":"flow.set('barCode','');","outputs":1,"noerr":0,"x":477.7500457763672,"y":907.7500324249268,"wires":[[]]},{"id":"72dfd4dc.f5e544","type":"debug","z":"46fe455a.2707ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":706.1786079406738,"y":258.39280128479004,"wires":[]},{"id":"42b5d3be.dc7f5c","type":"function","z":"46fe455a.2707ec","name":"set properties","func":"var properties = ['routers', 'ip_address', 'domain_name_servers'];\n\nflow.set(\"properties\", properties);\n\n//init properties\nfor(var i=0;i<properties.length;i++){\n    var p = properties[i];\n    flow.set(p, null);\n    flow.set(p+\"_new\", null);\n}\n\nnode.send({payload: true});\n","outputs":1,"noerr":0,"x":612.0142707824707,"y":1254.39213180542,"wires":[["b5bfa2d4.dfc4f"]]},{"id":"b5bfa2d4.dfc4f","type":"exec","z":"46fe455a.2707ec","command":"cat /etc/dhcpcd.conf","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":819.0142860412598,"y":1256.39213180542,"wires":[["8f2d16f0.bf0b48"],[],[]]},{"id":"8f2d16f0.bf0b48","type":"function","z":"46fe455a.2707ec","name":"parse response","func":"var lines = msg.payload.split(\"\\n\");\nvar data = [];\n\nfor(var i=0; i< lines.length; i++){\n    if(lines[i].indexOf(\"interface eth0\") != -1)\n        break;\n}\n\n//check if interface eth0 is disabled\nif(i < lines.length && lines[i].indexOf(\"#\") >= 0) flow.set('disabled', true);\nelse flow.set('disabled', false);\n\nnode.send({topic:'interface eth0', payload:flow.get('disabled')})\n\ni++;\n\nfor(i; i< lines.length; i++){\n   \n   //new interface, not eth0\n   if(lines[i].indexOf(\"static\") == -1)\n    break;\n    \n    var tmp = lines[i].split(\"=\");\n    if(tmp.length==2){\n        var prop = tmp[0].split(' ')[1].trim();\n        var value = tmp[1].trim();\n        \n        flow.set(prop, value);\n        node.send({topic:prop, payload:value})\n    }\n} ","outputs":1,"noerr":0,"x":1038.0142860412598,"y":1242.39213180542,"wires":[["724867c.6539d98"]]},{"id":"724867c.6539d98","type":"switch","z":"46fe455a.2707ec","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ip_address","vt":"str"},{"t":"eq","v":"routers","vt":"str"},{"t":"eq","v":"domain_name_servers","vt":"str"},{"t":"eq","v":"interface eth0","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":1199.014331817627,"y":1238.392201423645,"wires":[["7f49a6f6.c86aa8"],[],["27363797.757018"],[]]},{"id":"27363797.757018","type":"change","z":"46fe455a.2707ec","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"Settings updated. Reboot device to enable new ip","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1351.0142250061035,"y":1314.39213180542,"wires":[[]]},{"id":"22e64bdd.f63714","type":"function","z":"46fe455a.2707ec","name":"store new","func":"flow.set(msg.topic+\"_new\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1545.0142250061035,"y":1244.39213180542,"wires":[["43f0408c.fc8c"]]},{"id":"43f0408c.fc8c","type":"change","z":"46fe455a.2707ec","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"New setting stored ","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690.0142250061035,"y":1241.39213180542,"wires":[[]]},{"id":"90fd71e4.4596e","type":"comment","z":"46fe455a.2707ec","name":"Change IP Adress of Raspberry","info":"","x":330.50006103515625,"y":1195.250168800354,"wires":[]},{"id":"7f49a6f6.c86aa8","type":"function","z":"46fe455a.2707ec","name":"ip_adress","func":"var ipadressRaspy = flow.get('ipadressRaspy') || \"192.168.2.102/24\" ;\n\n\nmsg.payload = ipadressRaspy;\nmsg.topic = \"ip_address\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1355.000099182129,"y":1244.7501335144043,"wires":[["22e64bdd.f63714"]]},{"id":"73542be4.c70e14","type":"exec","z":"46fe455a.2707ec","command":"sudo sed -i ","addpay":true,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":792.5001068115234,"y":1320.5002098083496,"wires":[[],[],[]]},{"id":"1c844447.f0748c","type":"function","z":"46fe455a.2707ec","name":"send commands","func":"var properties = flow.get(\"properties\");\n\nvar disabled = flow.get(\"disabled\") ? '#' : '';\n\nif(disabled == '#'){\n    //enable interface (replace only first occurance)\n    var command = `'0,/#interface eth0/s//interface eth0/g;' /etc/dhcpcd.conf`;\n    node.send({payload: command})\n}\n\nfor(var i=0;i<properties.length;i++){\n    var p = properties[i];\n    \n    var old_value = flow.get(p);\n    var new_value = flow.get(p+\"_new\") || old_value;\n    \n    if(old_value && ((old_value != new_value) || disabled == '#'))\n    {\n        //enable interface (replace only first occurance)\n        var command = `'0,\\\\?${disabled}static ${p}=${old_value}?s??static ${p}=${new_value}?g;' /etc/dhcpcd.conf`;\n        node.send({payload: command})\n    }\n}\n\n","outputs":1,"noerr":0,"x":615.7500762939453,"y":1320.7503509521484,"wires":[["73542be4.c70e14"]]},{"id":"e57a8274.d8e6d","type":"delay","z":"46fe455a.2707ec","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":414.0000648498535,"y":1255.7501029968262,"wires":[["42b5d3be.dc7f5c"]]},{"id":"fa9fa91b.c28c58","type":"delay","z":"46fe455a.2707ec","name":"","pauseType":"rate","timeout":"30","timeoutUnits":"milliseconds","rate":"8","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":272.67863845825195,"y":210.39284324645996,"wires":[["4baa7eab.1482e"]]},{"id":"47265554.84c32c","type":"switch","z":"46fe455a.2707ec","name":"Program barcode?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111118","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":745.6786499023438,"y":189.39284133911133,"wires":[["c37ff563.d54058"]]},{"id":"c37ff563.d54058","type":"function","z":"46fe455a.2707ec","name":"Set program mode","func":"flow.set('programBarcode','1');\nreturn msg;\n","outputs":1,"noerr":0,"x":961.6786270141602,"y":189.39284133911133,"wires":[["7784cc6e.884614"]]},{"id":"60a8aa6e.ee0774","type":"function","z":"46fe455a.2707ec","name":"Program time timeout","func":"flow.set('programBarcode','0');\n","outputs":1,"noerr":0,"x":1374.8454856872559,"y":189.72617435455322,"wires":[[]]},{"id":"7784cc6e.884614","type":"delay","z":"46fe455a.2707ec","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1162.8454780578613,"y":189.7261745929718,"wires":[["60a8aa6e.ee0774"]]},{"id":"7bd6a905.208238","type":"switch","z":"46fe455a.2707ec","name":"C-RS1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111127","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":969.2063522338867,"y":380.89284324645996,"wires":[["2849dbf.475b924"]]},{"id":"7f77c49e.647c7c","type":"function","z":"46fe455a.2707ec","name":"Check if in program mode","func":"var programBarcode=flow.get('programBarcode') || \"0\" ;\nmsg.check = programBarcode;\n\nif (programBarcode == \"1\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":768.206485748291,"y":312.8928470611572,"wires":[["7bd6a905.208238","bec78a5f.490cd8","54a57cab.28e1e4","7c0915f.59cd7ec","38459940.41bd56","f6682a8b.18f1c8","8c3045d.d16b8b8","15a52f47.c9c391","179df990.2143a6","26abd849.ff7358","2d302838.def2a8","dabc03a2.75302","1cee6dd7.a78d02","6329747f.82b4fc","9fbaa7a2.ea5508","a82d7ade.506868"]]},{"id":"bec78a5f.490cd8","type":"switch","z":"46fe455a.2707ec","name":"Shutdown","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"00000000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":979.8286781311035,"y":329.8928470611572,"wires":[["4d1105e0.501c5c"]]},{"id":"4d1105e0.501c5c","type":"exec","z":"46fe455a.2707ec","command":"sudo poweroff #","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"turn off Pi","x":1180.228672027588,"y":302.39283561706543,"wires":[[],[],[]]},{"id":"54a57cab.28e1e4","type":"switch","z":"46fe455a.2707ec","name":"C-CS1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111131","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":972.428653717041,"y":416.8928470611572,"wires":[["8b15390.3e2dac8"]]},{"id":"7c0915f.59cd7ec","type":"switch","z":"46fe455a.2707ec","name":"C-RS2","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111149","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":974.428653717041,"y":488.8928470611572,"wires":[["1d163058.ce447"]]},{"id":"38459940.41bd56","type":"switch","z":"46fe455a.2707ec","name":"C-BS In","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111156","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":986.2286415100098,"y":523.2928409576416,"wires":[["2e67c5f0.bbaf3a"]]},{"id":"f6682a8b.18f1c8","type":"switch","z":"46fe455a.2707ec","name":"C-BS Out","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111163","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":984.228630065918,"y":559.2928276062012,"wires":[["b1c6d9a.302d028"]]},{"id":"8c3045d.d16b8b8","type":"switch","z":"46fe455a.2707ec","name":"C-DS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111170","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":977.6786956787109,"y":595.1428937911987,"wires":[["11987b3e.390a75"]]},{"id":"15a52f47.c9c391","type":"switch","z":"46fe455a.2707ec","name":"M-RS1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111187","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":972.6786918640137,"y":651.6428337097168,"wires":[["fbeedb6a.99f758"]]},{"id":"179df990.2143a6","type":"switch","z":"46fe455a.2707ec","name":"M-CS1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111194","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":973.900957107544,"y":686.6428279876709,"wires":[["d10ebd17.d08c4"]]},{"id":"26abd849.ff7358","type":"switch","z":"46fe455a.2707ec","name":"M-RS2","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111206","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":975.900957107544,"y":764.6428279876709,"wires":[["3f81453.2cd6bba"]]},{"id":"2d302838.def2a8","type":"switch","z":"46fe455a.2707ec","name":"M-BS In","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111215","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":987.7009449005127,"y":799.0428218841553,"wires":[["3eb967d9.609658"]]},{"id":"dabc03a2.75302","type":"switch","z":"46fe455a.2707ec","name":"M-BS Out","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111224","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":987.7009582519531,"y":834.0428295135498,"wires":[["220d083f.76bd28"]]},{"id":"1cee6dd7.a78d02","type":"switch","z":"46fe455a.2707ec","name":"M-DS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111238","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":981.1509952545166,"y":869.8928499221802,"wires":[["ad5baf64.3241f"]]},{"id":"1d163058.ce447","type":"change","z":"46fe455a.2707ec","name":"C-RS2","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.126/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.26","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1126.928653717041,"y":488.1428470611572,"wires":[["be8bf830.258368"]]},{"id":"2e67c5f0.bbaf3a","type":"change","z":"46fe455a.2707ec","name":"C-BS In","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.127/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.27","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1137.6786861419678,"y":523.1428623199463,"wires":[["be8bf830.258368"]]},{"id":"b1c6d9a.302d028","type":"change","z":"46fe455a.2707ec","name":"C-BS Out","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.122/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.27","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1137.678653717041,"y":558.8928470611572,"wires":[["be8bf830.258368"]]},{"id":"11987b3e.390a75","type":"change","z":"46fe455a.2707ec","name":"C-DS","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.128/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.28","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1127.678653717041,"y":594.3928470611572,"wires":[["be8bf830.258368"]]},{"id":"fbeedb6a.99f758","type":"change","z":"46fe455a.2707ec","name":"M-RS1","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.131/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.31","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1122.1786918640137,"y":651.6428337097168,"wires":[["be8bf830.258368"]]},{"id":"d10ebd17.d08c4","type":"change","z":"46fe455a.2707ec","name":"M-CS1","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.130/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1122.0536613464355,"y":686.392822265625,"wires":[["be8bf830.258368"]]},{"id":"3f81453.2cd6bba","type":"change","z":"46fe455a.2707ec","name":"M-RS2","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.134/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.34","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1121.5536613464355,"y":764.142822265625,"wires":[["be8bf830.258368"]]},{"id":"3eb967d9.609658","type":"change","z":"46fe455a.2707ec","name":"M-BS In","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.133/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.33","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1132.3036937713623,"y":799.1428375244141,"wires":[["be8bf830.258368"]]},{"id":"220d083f.76bd28","type":"change","z":"46fe455a.2707ec","name":"M-BS Out","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.135/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.33","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1132.3036613464355,"y":834.892822265625,"wires":[["be8bf830.258368"]]},{"id":"ad5baf64.3241f","type":"change","z":"46fe455a.2707ec","name":"M-DS","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.129/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1122.3036613464355,"y":870.392822265625,"wires":[["be8bf830.258368"]]},{"id":"6329747f.82b4fc","type":"switch","z":"46fe455a.2707ec","name":"Reboot","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"00000019","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":977.8286781311035,"y":293.692834854126,"wires":[["305a4015.09dde"]]},{"id":"be8bf830.258368","type":"link out","z":"46fe455a.2707ec","name":"","links":["652259b6.9227a8","d5181145.19c02","1c4c63d3.626cac"],"x":1367.928653717041,"y":541.6928653717041,"wires":[]},{"id":"652259b6.9227a8","type":"link in","z":"46fe455a.2707ec","name":"","links":["be8bf830.258368","7980a664.2fef08"],"x":223.50005722045898,"y":1319.750093460083,"wires":[["e57a8274.d8e6d","70599051.2742c"]]},{"id":"305a4015.09dde","type":"exec","z":"46fe455a.2707ec","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"sudo reboot","x":1189.778636932373,"y":247.6428508758545,"wires":[[],[],[]]},{"id":"8b15390.3e2dac8","type":"change","z":"46fe455a.2707ec","name":"C-CS1","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.124/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.24","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1127.4286613464355,"y":416.8928575515747,"wires":[["be8bf830.258368"]]},{"id":"2849dbf.475b924","type":"change","z":"46fe455a.2707ec","name":"C-RS1","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.123/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.23","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1128.8287963867188,"y":381.892858505249,"wires":[[]]},{"id":"7ed4503f.180ed","type":"OPCUA-IIoT-Write","z":"46fe455a.2707ec","connector":"824d162d.367c98","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":920.6959648132324,"y":139.40328788757324,"wires":[[]]},{"id":"3fad8b1e.d3c724","type":"OPCUA-IIoT-Flex-Connector","z":"46fe455a.2707ec","name":"","showStatusActivities":false,"showErrors":false,"connector":"824d162d.367c98","x":878.9461212158203,"y":1065.5702304840088,"wires":[[]]},{"id":"f68081a5.6159a","type":"OPCUA-IIoT-Node","z":"46fe455a.2707ec","injectType":"write","nodeId":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.BarCode","datatype":"UInt32","value":"","name":"","topic":"","showErrors":false,"x":728.7481536865234,"y":140.87894821166992,"wires":[["7ed4503f.180ed","f85b244.5148dd8"]]},{"id":"597b7813.3538e8","type":"file","z":"46fe455a.2707ec","name":"write mps ipadress","filename":"/home/pi/nodered_variableBackup/mps_ipadress","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":495.5120162963867,"y":1445.2262601852417,"wires":[[]]},{"id":"fe49c5a0.f2a968","type":"file","z":"46fe455a.2707ec","name":"write raspy ipadress","filename":"/home/pi/nodered_variableBackup/raspy_ipadress","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":505.76197052001953,"y":1588.476237297058,"wires":[[]]},{"id":"1c4c63d3.626cac","type":"link in","z":"46fe455a.2707ec","name":"","links":["be8bf830.258368"],"x":271.012020111084,"y":1513.72629737854,"wires":[["2d5dfb67.664984"]]},{"id":"adcd3905.306bc8","type":"file in","z":"46fe455a.2707ec","name":"read mps ipadress","filename":"/home/pi/nodered_variableBackup/mps_ipadress","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":467.7500457763672,"y":941.7500324249268,"wires":[["1803d265.92366e"]]},{"id":"1803d265.92366e","type":"change","z":"46fe455a.2707ec","name":"","rules":[{"t":"set","p":"ipadressMPS","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":767.8889465332031,"y":940.1666955947876,"wires":[[]]},{"id":"4ea5b2f9.c6e4dc","type":"file in","z":"46fe455a.2707ec","name":"read raspy ipadress","filename":"/home/pi/nodered_variableBackup/raspy_ipadress","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":467.08335876464844,"y":975.4166965484619,"wires":[["d5351d91.e5307"]]},{"id":"d5351d91.e5307","type":"change","z":"46fe455a.2707ec","name":"","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":765.8333892822266,"y":975.1389236450195,"wires":[["7980a664.2fef08"]]},{"id":"6ff80a5b.0a6564","type":"change","z":"46fe455a.2707ec","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ipadressMPS","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":267.2223434448242,"y":1444.0278358459473,"wires":[["597b7813.3538e8"]]},{"id":"506858f4.c2b518","type":"change","z":"46fe455a.2707ec","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ipadressRaspy","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":270.1666564941406,"y":1589.000054359436,"wires":[["fe49c5a0.f2a968"]]},{"id":"51a489c1.8cd598","type":"function","z":"46fe455a.2707ec","name":"Set OPC-UA Endpoint","func":"var ipmps=flow.get('ipadressMPS') || \"\";\nvar endpoint=\"opc.tcp://\" + ipmps + \":4840/\"\n\n\nmsg.payload = \n{ \n    \"discoveryUrl\": null,\n //   \"endpoint\": \"opc.tcp://192.168.2.27:4840/\",\n    \"endpoint\": endpoint,\n    \"keepSessionAlive\": true,\n    \"securityPolicy\": \"None\",\n    \"securityMode\": \"NONE\",\n    \"name\": \"LOCAL DEMO SERVER\",\n    \"showErrors\": true,\n    \"publicCertificateFile\": null,\n    \"privateKeyFile\": null,\n    \"defaultSecureTokenLifetime\": 0,\n    \"endpointMustExist\": false,\n    \"autoSelectRightEndpoint\": false,\n    \"strategyMaxRetry\": 0,\n    \"strategyInitialDelay\": 0,\n    \"strategyMaxDelay\": 0,\n    \"strategyRandomisationFactor\": 0,\n    \"requestedSessionTimeout\": 0,\n    \"connectionStartDelay\": 0,\n    \"reconnectDelay\": 0\n};\nreturn msg;","outputs":1,"noerr":0,"x":669.7500381469727,"y":1066.2502136230469,"wires":[["3fad8b1e.d3c724"]]},{"id":"5d239196.6e98d","type":"delay","z":"46fe455a.2707ec","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":462.25003814697266,"y":1066.0002870559692,"wires":[["51a489c1.8cd598"]]},{"id":"2d5dfb67.664984","type":"delay","z":"46fe455a.2707ec","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430.50010681152344,"y":1513.0001049041748,"wires":[["6ff80a5b.0a6564","506858f4.c2b518"]]},{"id":"7980a664.2fef08","type":"link out","z":"46fe455a.2707ec","name":"","links":["652259b6.9227a8"],"x":917.7500438690186,"y":973.2500896453857,"wires":[]},{"id":"70599051.2742c","type":"delay","z":"46fe455a.2707ec","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410.0000534057617,"y":1320.500207901001,"wires":[["1c844447.f0748c"]]},{"id":"9fbaa7a2.ea5508","type":"switch","z":"46fe455a.2707ec","name":"C-CS2","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111255","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":972.77783203125,"y":453.009220123291,"wires":[["967d46d8.173c68"]]},{"id":"967d46d8.173c68","type":"change","z":"46fe455a.2707ec","name":"C-CS2","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.125/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.25","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1127.7778396606445,"y":453.0092306137085,"wires":[["be8bf830.258368"]]},{"id":"a82d7ade.506868","type":"switch","z":"46fe455a.2707ec","name":"M-CS2","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"01111246","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":974.2222671508789,"y":726.5925846099854,"wires":[["35322737.162dc8"]]},{"id":"35322737.162dc8","type":"change","z":"46fe455a.2707ec","name":"M-CS1","rules":[{"t":"set","p":"ipadressRaspy","pt":"flow","to":"192.168.2.132/24","tot":"str"},{"t":"set","p":"ipadressMPS","pt":"flow","to":"192.168.2.32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120.3749713897705,"y":727.3425750732422,"wires":[["be8bf830.258368"]]},{"id":"65295f91.5245b","type":"inject","z":"46fe455a.2707ec","name":"","topic":"","payload":"01234567","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":554.1644248962402,"y":143.42362213134766,"wires":[["f68081a5.6159a"]]},{"id":"1f8e5cfe.59c053","type":"comment","z":"46fe455a.2707ec","name":"Save to new ipadresses into file","info":"","x":249.61830615997314,"y":1394.0256605148315,"wires":[]},{"id":"d7cd92dd.9eaee","type":"ui_dropdown","z":"46fe455a.2707ec","name":"","label":"Cyan","tooltip":"","place":"Select option","group":"4853137d.54bd6c","order":2,"width":"6","height":"1","passthru":true,"options":[{"label":"C-CS1","value":1111131,"type":"num"},{"label":"C-CS2","value":1111255,"type":"num"},{"label":"C-RS1","value":1111127,"type":"num"},{"label":"C-RS2","value":1111149,"type":"num"},{"label":"C-BS In","value":1111156,"type":"num"},{"label":"C-BS Out","value":1111163,"type":"num"},{"label":"C-DS","value":1111170,"type":"num"}],"payload":"","topic":"","x":771.013069152832,"y":471.760461807251,"wires":[["7bd6a905.208238","54a57cab.28e1e4","9fbaa7a2.ea5508","7c0915f.59cd7ec","38459940.41bd56","f6682a8b.18f1c8","8c3045d.d16b8b8"]]},{"id":"100d160b.fcff0a","type":"ui_dropdown","z":"46fe455a.2707ec","name":"","label":"Magenta","tooltip":"","place":"Select option","group":"4853137d.54bd6c","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"M-CS1","value":1111187,"type":"num"},{"label":"M-CS2","value":1111194,"type":"num"},{"label":"M-RS1","value":1111246,"type":"num"},{"label":"M-RS2","value":1111206,"type":"num"},{"label":"M-BS In","value":1111215,"type":"num"},{"label":"M-BS Out","value":1111224,"type":"num"},{"label":"M-DS","value":1111238,"type":"num"}],"payload":"","topic":"","x":783.1797943115234,"y":709.6771049499512,"wires":[["15a52f47.c9c391","179df990.2143a6","a82d7ade.506868","26abd849.ff7358","2d302838.def2a8","dabc03a2.75302","1cee6dd7.a78d02"]]},{"id":"ed4f847.f805678","type":"ui_button","z":"46fe455a.2707ec","name":"","group":"4853137d.54bd6c","order":5,"width":0,"height":0,"passthru":false,"label":"reboot Raspberry","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":961.0964469909668,"y":225.16146755218506,"wires":[["305a4015.09dde"]]},{"id":"62a81738.a7ebd8","type":"ui_button","z":"46fe455a.2707ec","name":"","group":"4853137d.54bd6c","order":6,"width":0,"height":0,"passthru":false,"label":"shutdown Raspberry","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":971.5964775085449,"y":259.8437240123749,"wires":[["4d1105e0.501c5c"]]},{"id":"b666895.95b0478","type":"ui_toast","z":"46fe455a.2707ec","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":450.75004959106445,"y":1012.7500343322754,"wires":[[]]},{"id":"b4b88438.8ac888","type":"ui_text_input","z":"46fe455a.2707ec","name":"","label":"Enter Test Code:","tooltip":"","group":"5b5d33cf.13a2ac","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":522.3516426086426,"y":106.77864360809326,"wires":[["f68081a5.6159a"]]},{"id":"f85b244.5148dd8","type":"ui_text","z":"46fe455a.2707ec","group":"5b5d33cf.13a2ac","order":1,"width":0,"height":0,"name":"","label":"Last Code : ","format":"{{msg.payload}}","layout":"row-spread","x":941.3489532470703,"y":103.67179012298584,"wires":[]},{"id":"aa018c8d.9fe2","type":"ui_text","z":"46fe455a.2707ec","group":"4853137d.54bd6c","order":1,"width":0,"height":0,"name":"","label":"IP-Address","format":"{{msg.payload}}","layout":"row-center","x":449.9318161010742,"y":1111.4373035430908,"wires":[]},{"id":"c62638c0.eea2b8","type":"inject","z":"46fe455a.2707ec","name":"","topic":"","payload":"ip_address","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":"1","x":235.68384552001953,"y":1110.7329578399658,"wires":[["aa018c8d.9fe2"]]},{"id":"cb87e345.cc34","type":"comment","z":"46fe455a.2707ec","name":"BarCode V1.01","info":"","x":101.59900665283203,"y":34.07292175292969,"wires":[]},{"id":"824d162d.367c98","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.2.24:4840","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"MPS_OPCUA_Server","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"4853137d.54bd6c","type":"ui_group","z":"","name":"IP Configuration Raspberry Pi","tab":"e2db59aa.b02818","order":2,"disp":true,"width":"6","collapse":false},{"id":"5b5d33cf.13a2ac","type":"ui_group","z":"","name":"Bar-Code","tab":"e2db59aa.b02818","order":1,"disp":true,"width":"6","collapse":false},{"id":"e2db59aa.b02818","type":"ui_tab","z":"","name":"Barcode Reader","icon":"dashboard","disabled":false,"hidden":false}]